/* General Styles */

body {
  font-family: Arial, sans-serif;
  color: #444;
  margin: 0;
}
h1 {
  font-size: 20px;
  line-height: 40px;
  margin-left: 15px;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  color: #0cf;
  text-decoration: none;
}
strong {
  color: #0cf;
}
p {
  letter-spacing: 0.2px;
  margin: 0 15px;
}

/* Navigation */

nav {
  height: 52px;
  border-bottom: 1px solid #eee;
  position: relative;
}
#hamburger {
  width: 5px;
  height: 5px;
  position: absolute;
  top: 17px;
  right: 35px;
}
#hamburger:before, #hamburger:after, #hamburger span:before {
  content: "";
  display: block;
  width: 25px;
  height: 4px;
  border-radius: 5px;
  background: #444;
  position: absolute;
}
#hamburger:before {
  top: -8px;
}
#hamburger:after {
  top: 8px;
}
#off-canvas {
  width: 100vw;
  background: #00bbdf;
  text-align: center;
  position: absolute;
  top: -13px;
  transform: translateX(100vw);
}
#off-canvas ul {
  padding: 10px 0;
}
#off-canvas li {
  margin: 10px 0;
}
#off-canvas a {
  color: #fff;
  font-size: 40px;
}

/* Page content */

.page-content {
  text-align: center;
}
